*.DS_Store
_build
_resources
logs

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

### Clojure ###
pom.xml
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
